* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url(../imgs/darthvader.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  padding-top: 200px;
}

h1 {
  font-family: "Holtwood One SC", serif;
  font-size: 60px;
  padding-bottom: 30px;
  color: rgb(151, 0, 10);
}

.container {
  font-family: "M PLUS 1 Code", monospace;
}

select {
  padding: 10px;
  cursor: pointer;
}

.btn {
  padding: 20px;
}
button {
  font-family: "M PLUS 1 Code", monospace;
  font-weight: 500;
  padding: 10px;
  cursor: pointer;
  transition-property: border, color, width;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
button:hover {
  color: rgb(151, 0, 10);
  width: 100px;
  border: 2px solid rgb(151, 0, 10);
}

.return {
  font-family: "Holtwood One SC", serif;
  font-size: 40px;
  text-align: center;
  color: rgb(151, 0, 10);
}
